body {
    margin: 0;
    font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
    background-color: #fff;
}

.create_icon {
    margin-left: 2rem;
}

.submit_btn {
    background-color: #ff8e88;
    border-color: #ff8e88;
    color: #fff;
    text-align: center;
    width: 100%;
    font-weight: 600;
}

.submit_btn:hover,
.submit_btn:active,
.submit_btn:not(:disabled):not(.disabled).active,
.submit_btn:not(:disabled):not(.disabled):active,
.show > .submit_btn.dropdown-toggle,
.submit_btn:focus,
.submit_btn.focus {
    background-color: #ff6a62;
    border-color: #ff5e55;
    color: #fff;
    text-decoration: none;
}

// BADGE
.badge {
    text-transform: uppercase;
    letter-spacing: 0.02em;
    position: relative;
    bottom: 1px;
    vertical-align: middle;
    .icon {
        height: 0.75rem;
        vertical-align: top;
    }
    &.position-absolute {
        bottom: auto;
    }
    &.badge-top {
        position: absolute;
        top: -$spacer/2;
        bottom: auto;
    }
}

// CARD STYLING
.card_style {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 3em 2em;
}

.card_style.card_create {
    background-color: $primary;
}

.card_style a {
    color: #fff;
}

.card_style a:hover {
    color: #fff;
    text-decoration: none;
}

.card-body h3 {
    margin-bottom: 0;
}

.justify-content-between {
    justify-content: space-between !important;
}

.text-light {
    color: #f8f9fa !important;
}

// BACKGROUND

.bg-primary {
    background-color: $primary !important;
}

.bg-primary-2 {
    background-color: $primary-2;
}

.bg-primary-3 {
    background-color: $primary-3;
}

// TABLE STYLING

// .table-striped tbody tr:nth-of-type(odd) {
//     background-color: rgba(55, 85, 190, 0.05);
// }

.table-hover .table-primary:hover {
    background-color: #b4bee7;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
    background-color: #b4bee7;
}

.table-hover .table-secondary:hover {
    background-color: #c8cbcf;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
    background-color: #c8cbcf;
}

.table-hover .table-active:hover {
    background-color: rgba(49, 76, 170, 0.05);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
    background-color: rgba(49, 76, 170, 0.05);
}

// CUSTOM STYLING

.buy-tickets {
    position: relative;
}

.buy-tickets-form {
    display: inline;
}

.button.btn.btn-primary.mb-4 {
    width: 190px;
}

// TABS
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background: none;
    border: none;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.py-4 {
    padding-top: 0 !important;
}
